<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="privilegeMapper">

	<cache eviction="LRU" flushInterval="86400000"  readOnly="true" />
    
	<sql id="all_column">
		id,name,url,parent,privilegeId,priority,createTime,updateTime,version
	</sql>
	
	<sql id="base_column">
		id,name,url,parent,privilegeId,priority
	</sql>
	
	<select id="getList" resultType="privilege">
		select 
		<include refid="base_column" />
		from privilege
	</select>
	
	<select id="getById" parameterType="int" resultType="privilege" >
		select
		<include refid="base_column" />
		from privilege where id = #{id}
	</select>
	
	<select id="getPrivilegesByRoleId"  resultType="privilege" parameterType="int">
		select 
		<include refid="base_column" />
		from privilege
		<where>
			id in (select rp.privilegeId from role_privilege as rp where rp.roleId= #{id})
		</where> 
	</select>
	
</mapper>